#image-box {
    display: flex;
    justify-content: center;
    figure {
        border: 2rem goldenrod solid;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        max-width: 25vw;
    }
    img { 
        width: 100%;
        height: 100%;
        max-width: 25vw;
    }
}